.app-maplibregl-ctrl {
  margin: 5px;
  float: right;
  clear: both;
  color: #333;
  background-color: hsla(0,0%,100%,.5);
  padding: 2px 5px;
  font-size: 105%;
  border-radius: 5px;
}

.right {
  float: right;
}

.left {
  float: left;
}