.container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 3em;
  height: 4em;
  padding: 3px;
  text-align: center;
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  cursor: pointer;
  .distance {
    font-size: 100%;
  }
}

  .absolute {
    color: green;
  }
  .relative {
    color: grey
  }
  .unknown {
    color:rgba(226, 22, 22, 0.4)
  }

.nothing {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 4em;
  height: 3em;
  padding: 3px;
  text-align: center;
  box-shadow: 0 0 3px rgb(0 0 0 / 30%);
  cursor: pointer;
}