<mgl-map #map
  [style]="styleUrl"
  [zoom]="[configService.conf.value.mapPos.zoom]"
  [center]="configService.conf.value.mapPos.center"
  [pitch]="[configService.conf.value.mapPos.pitch]"
  [bearing]="[configService.conf.value.mapPos.bearing]"
  (mapLoad)="mapLoad.complete()"
  (mapClick)="onClick($event)"
>

  <mgl-control position="top-right"
    mglNavigation
  ></mgl-control>

  <mgl-control
    mglGeolocate
    [positionOptions]="geolocatePositionOptions"
    [fitBoundsOptions]="geolocateFitBoundsOptions"
    [trackUserLocation]="geolocateTrackUserLocation"
    [showUserLocation]="geolocateShowUserLocation"
  ></mgl-control>

  <mgl-control position="top-left" class="directionControl">
      <app-direction></app-direction>
  </mgl-control>

  <mgl-control treeTrailMapEdit
    *ngIf="(configService.conf | async).bootstrap?.user"
    position="top-right"
  ></mgl-control>

  <mgl-control mglScale position="bottom-right"></mgl-control>
  <mgl-popup #popup [lngLat]="[0, 90]">
    <app-tree-popup #treePopupDetail [hidden]="currentPopupLayer!='tree'"></app-tree-popup>
    <app-trail-list-item #trailPopupDetail [withMapButton]=false [hidden]="currentPopupLayer!='trail'"></app-trail-list-item>
    <app-poi-popup #poiPopupDetail [hidden]="currentPopupLayer!='poi'"></app-poi-popup>
    <app-zone-popup #zonePopupDetail [hidden]="currentPopupLayer!='zone'"></app-zone-popup>
  </mgl-popup>
  <app-mgl-control position="bottom-left">
    <div #featureInfo class='featureInfoInner'></div>
  </app-mgl-control>
</mgl-map>