mgl-map {
  width: 100%;
  height: 100%;
}

/*
:host ::ng-deep div.maplibregl-map.on-item .mapboxgl-canvas-container.maplibregl-interactive {
  cursor: zoom-in;
}
*/

:host ::ng-deep {
  .popup-content {
    cursor: pointer;
  }
  .maplibregl-popup-content {
    border-radius: 6px;
  }
}

.directionControl {
  background-color: white;
}

.treetrail-maplibregl-ctrl {
  margin: 0;
  float: right;
  clear: both;
  color: #333;
  background-color: hsla(0,0%,100%,.5);
  padding: 0 5px;
}
