<mat-toolbar>
  <mat-form-field matTooltip="Type text to find plants in the list">
    <mat-label>Search plant</mat-label>
    <input matInput
        type="search"
        (input)="filter()"
        [(ngModel)]="searchText"/>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="showAll"
    matTooltip="View only plants visible from trails, or all plants in the database">
    View all plants
  </mat-slide-toggle>
</mat-toolbar>
<div class="container">
  <ng-container *ngFor="let plant of ((dataService.all | async).plants | keyvalue)">
    <ng-container *ngIf="filterView(plant.value)">
      <app-plant-list-item
        [plant]="plant.value"
        [withImage]=true
      >
      </app-plant-list-item>
    </ng-container>
  </ng-container>
</div>