.mat-toolbar {
  justify-content: space-between;
  background-color: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

:host ::ng-deep .mdc-text-field {
  background-color: inherit;
  border: 1px dashed whitesmoke;
}

.mat-toolbar {
  margin-top: 2px;
  margin-bottom: 5px;
}