<mat-table [dataSource]="plantsTableData" matSort>
  <!-- Symbol Column -->
  <ng-container matColumnDef="card">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element"> <app-plant-list-item [plant]="element"></app-plant-list-item></td>
  </ng-container>
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element['ID']}} </td>
  </ng-container>
  <ng-container matColumnDef="english">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> english </th>
    <td mat-cell *matCellDef="let element"> {{element['english']}} </td>
  </ng-container>
  <ng-container matColumnDef="hindi">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> hindi </th>
    <td mat-cell *matCellDef="let element"> {{element['hindi']}} </td>
  </ng-container>
  <ng-container matColumnDef="tamil">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> tamil </th>
    <td mat-cell *matCellDef="let element"> {{element['tamil']}} </td>
  </ng-container>
  <ng-container matColumnDef="family">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> family </th>
    <td mat-cell *matCellDef="let element"> {{element['family']}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
    <td mat-cell *matCellDef="let element"> {{element['name']}} </td>
  </ng-container>
  <ng-container matColumnDef="spiritual">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> spiritual </th>
    <td mat-cell *matCellDef="let element"> {{element['spiritual']}} </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> type </th>
    <td mat-cell *matCellDef="let element"> {{element['type']}} </td>
  </ng-container>
  <ng-container matColumnDef="img">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> <img [src]="getImgUrl(element)"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
