table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-mdc-header-row {
  height: inherit;
}

.mat-column-img img {
  height: inherit;
}

.mat-column-card {
  vertical-align: middle;
}

td.mat-mdc-cell:last-of-type {
  padding-right: 0;
}