:host {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(250 200 100 / 50%);
}

.container {
  margin: 0.5em;
}

h1 {
  margin: 0;
  text-align: center;
}

.name {
  font-style: italic;
}

.plant {
  cursor: pointer;
}

.mat-toolbar {
  background-color: inherit;
}

.plants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.viewport {
  height: 100%;
}

.mat-mdc-card-actions {
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
}

.photo {
  max-height: 15em;
  flex: 2 1 0;
}

.content dl {
  flex: 2 1 0;
}