:host {
  height: 100%;
  padding: 5px 5px 0;
  font-family: Arial, Helvetica, sans-serif;

  ::ng-deep .mat-expansion-panel-body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.mat-mdc-card-actions {
  text-align: center;
}

.user-actions {
  display: flex;
  flex-direction: column;
}

.user-actions button {
  margin: 3px;
}

.header {
  display: flex;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  flex: auto;
}

.userCreds {
  margin: 0 0 5px 0;
}

.settings {
  display: flex;
  flex-direction: column;
}

.admin {
  .mat-expansion-panel-header-title {
    color: red
  }
}

.h {
  font-style: italic;
  font-weight: bold;
}

.mat-button-toggle-group {
  --mat-standard-button-toggle-shape: 1em;
  --mat-standard-button-toggle-selected-state-background-color: #88FF88AA;
  --mat-standard-button-toggle-background-color: #44664422;
}