<div class='title'>
  {{ poi?.name }}
</div>
<div class="flip-card" (click)="flipCard()">
  <div [@flip]="isFlipped?'back':'front'" class="flip-card-inner">
    <div class="flip-card-front">
      <div class='dndZone' app-dnd (fileDropped)="onFileDropped($event)">
        <!-- <input type="file" #fileDropRef id="fileDropRef" single (change)="fileBrowseHandler($event)" /> -->
        <img *ngIf='poi?.photo' [src]="poi.getPhotoUrl()" class='img'>
      </div>
      <div *ngIf="poi?.type" class="type">{{ poi.type }}</div>
    </div>
    <div class="flip-card-back">
      <div class="info">
        <dl>
          <dt>Description</dt>
          <dd>{{ poi?.description }}</dd>
          <dt>Type</dt>
          <dd>{{ poi?.type }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>