:host {
  width: 10em;
  height: 15em;
  border-radius: 8px;
  background: rgb(255, 247, 133);
  margin-bottom: 5px;
}

.title {
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  height: 1.5em;
  background-color: inherit;
  width: inherit;
  border-radius: 8px 8px 0 0;
}

.dndZone {
  height: 85%;
  width: 100%;
}

.img {
  cursor: pointer;
  object-fit: fill;
  border-radius: 8px;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.type {
  font-style: italic;
  text-align: center;
}

.flip-card {
  height: 13.5em;
  width: inherit;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0 0 8px 8px;
  .flip-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
  }

  .flip-card-inner > div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 247, 133);
    dd {
      max-height: 3em;
      text-overflow: ellipsis;
      line-height: normal;
    }
  }
}