<mat-card>
  <mat-card-title>
    About Tree Trail
  </mat-card-title>
  <mat-card-content>
    <h2>Version</h2>
      <p><span class='h'>Client: </span>{{ (configService.conf | async).bootstrap.client.version }}></p>
      <p><span class='h'>Server: </span>{{ (configService.conf | async).bootstrap.server.version }}</p>
  </mat-card-content>
</mat-card>