:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/assets/img/curly_tree_small.webp');
  background-position: center;
}

.intro {
  font-style: italic;
  text-align: center;
  margin: 0.2em 1em;
}

.nowrap {
  white-space: pre;
}

h2 {
  margin: 0;
  text-align: center;
}

.content {
  dt {
    font-weight: bold;
    .mat-icon {
      font-size: 150%;
      line-height: inherit;
      vertical-align: text-top;
      padding-right: .3em;
    }
  }

  .nowrap {
    .mat-icon {
      font-size: inherit;
      line-height: inherit;
      vertical-align: text-top;
      width: 1em;
    }
  }
}