<p class="intro">
  Tree Trail is a fun and pedagogic tool to discover the trails and trees around.
</p>
<mat-divider></mat-divider>
<div class="content">
  <h2>How to start?</h2>
  <p>
    If the main menu (on the left) is hidden, click on the top left icon <span class="nowrap">(<mat-icon>menu</mat-icon>)</span> to show it.
    From there, 3 main options are available:
  </p>
  <dl>
  <dt><mat-icon>directions_walk</mat-icon>Trails</dt>
  <dd>
    Details of the trails with description, photo, length, visible plants, etc.
  </dd>
  <dt><mat-icon>local_florist</mat-icon>Plants</dt>
  <dd>
    Each species has a flippable card, with information on the back side.
    More details are available on the species information page:
    type of plant, flower, habitat, etc, and where to find specimen.
  </dd>
  <dt><mat-icon>map</mat-icon>Map</dt>
  <dd>
    The interactive map helps you walk the trails and spot the interesting trees and plants.
    Thanks to localisation ("GPS"), Tree Trail shows a compass with
    the direction and distance when you are appraching an interesting specimen.
    Elements on the map are clickable, giving access to more details.
  </dd>
  </dl>
  <h2>Offline use</h2>
  <p>
    <span *ngIf="actionService.isOnline$ | async; else offLine">
      Tree Trail can be used without network connection ("Road Warrior"),
      allowing the exploration of the most remote places without network connectivity.
      <br>
      Click this button to download all the data now:
      <button mat-raised-button (click)="actionService.getPicturesForOffline()">Download data</button>
    </span>
    <ng-template #offLine>
        You are currently offline.
    </ng-template>
  </p>
  <p>
    Tree Trail can be installed as a regular application (depending on your device and web browser).
    In that case all the required data will be downloaded, thus giving the possibility to use Tree Trail
    without network connectivity.
    <br>
    <span *ngIf="this.isRunningStandalone(); else inBrowser">
      All good, Tree Trail is installed.
    </span>
    <ng-template #inBrowser>
      <span *ngIf="promptEvent; else noInstall">
        Click on the button below to install it.
        <button mat-raised-button (click)="installPWA()" *ngIf="shouldInstall()">Install App</button>
      </span>
    </ng-template>
  </p>
  <h2>What next?</h2>
  <p>
    Time to go and explore the environment, the forest and the trees! Have fun!
  </p>
</div>

<ng-template #noInstall>
  Unfortunately Tree Trail cannot be installed right now due to the browser,
  you'll be notified when it is possible.
</ng-template>