/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-app-background {
  background-color:rgba(69 153 34 / 30%);
}

@font-face {
  font-family: 'TenderLeaf';
  src: url('/assets/fonts/TenderleafRegular.ttf') format('TrueType');
}

@font-face {
    font-family: 'TreetrailSymbols';
    src: url('/assets/fonts/TreetrailSymbols.ttf') format('TrueType');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url(./assets/fonts/roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./assets/fonts/materialicons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.form-title {
	margin-top: 0;
	text-align: center;
	font-size: 120%;
}

.mat-mdc-card .mat-mdc-card-title {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mat-mdc-card-title .mat-mdc-action-list {
  margin-left: auto;
}