:host {
  width: 10em;
  height: 15em;
  border-radius: 8px;
  background: rgb(250 200 100);
  margin-bottom: 5px;
}

.title {
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  height: 1.5em;
  background-color: inherit;
  width: inherit;
  border-radius: 8px 8px 0 0;
}

.desc {
  text-align: center;
  padding: 3px;
}

.dndZone {
  height: 100%;
  width: 100%;
}

.img {
  cursor: pointer;
  object-fit: fill;
  border-radius: 8px;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.trails {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.info {
  padding: 3px;
  dl {
    margin-block-start: 0;
    margin-block-end: 0;
    dt {
      font-size: x-small;
      text-decoration: underline;
      font-style: italic;
    }
    dd {
      margin-inline-start: 0;
      max-height: 3em;
      text-overflow: ellipsis;
      line-height: normal;
    }
  }
}

.flip-card {
  height: 13.5em;
  width: inherit;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0 0 8px 8px;
  dt {
    float: left;
    clear: both;
  }
  dd {
    float: right;
    text-align: right;
  }
  .info {
    flex: 1 1 0;
  }
  button {
    margin: 5px;
  }

  .flip-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
  }

  .flip-card-inner > div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 100%;
    img {
      object-fit: cover;
      max-height: 10em;
    }
  }

  .flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(250 200 100);
    line-height: 100%;
  }
}