<div class="container">
  <mat-icon *ngIf='featureFinderService.hasDirection$ | async' aria-hidden="false"
    matTooltip="Direction to interesting stuff..."
    [ngStyle]="{'transform':'rotate(' + (featureFinderService.direction$ | async) + 'deg)'}">
    north
  </mat-icon>

  <div *ngIf='distance'>
    {{ distance }} m
  </div>

  <mat-icon class="north"
    matTooltip="Direction of north"
    [ngStyle]="{'transform':'rotate(' + (featureFinderService.orientation$ | async) + 'deg)'}">
    north
  </mat-icon>
<div>