<h1>Login</h1>
<p>Enter your access credentials</p>
<form [formGroup] = 'form' (ngSubmit) = 'login()'>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input type='text' matInput formControlName='username' />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type='password' matInput formControlName='password' autocomplete="on"/>
    </mat-form-field>
    <div class='msg'>{{ msg }}</div>
    <div class='actions'>
        <button mat-raised-button type='submit' color="primary" [disabled]='!this.form.valid'>
            Login
            <mat-icon>login</mat-icon>
        </button>
    </div>
</form>