<h1 mat-dialog-title>Select a plant to add</h1>
<mat-dialog-content [formGroup]="form">
  <mat-vertical-stepper linear=false>
    <mat-step [stepControl]="form.get('plant')" formGroupName="plant" errorMessage="Plant is required" label="Plant">
      <div>
        <mat-autocomplete #plants="matAutocomplete">
          <mat-option *ngFor="let plant of filteredOptions | async" [value]="plant.id">
            {{ plant.getFriendlyName() }}
          </mat-option>
        </mat-autocomplete>
        <div class="fields">
          <mat-form-field id='plantId' matTooltip="Plant">
            <mat-label>Plant</mat-label>
            <input matInput cdkFocusInitial (input)="cdr.markForCheck()" formControlName="plantId"
              [matAutocomplete]="plants">
            <button *ngIf="$any(form.controls['plant']).controls['plantId'].value" matSuffix mat-icon-button
              aria-label="Clear" (click)="$any(form.controls['plant']).controls['plantId'].setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field id='trails' matTooltip="Trails">
            <mat-label>Trail</mat-label>
            <mat-select #select formControlName="trails" multiple>
              <mat-option *ngFor="let trail of dataService.all.value.trails | keyvalue" [value]="trail.key">
                {{ trail.value.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-step>
    <mat-step [stepControl]="form.get('picture')" formGroupName="picture" label="Picture">
      <div>
        <input type="file" accept="image/*" capture="environment" formControlName="file"
          (change)="onImageFileSelected($event)">
      </div>
      <div class="preview" *ngIf="$any(form.controls['picture']).controls['picture'].value">
        <img [src]="$any(form.controls['picture']).controls['picture'].value">
      </div>
    </mat-step>
    <mat-step [stepControl]="form.get('details')" formGroupName="details" label="Details">
      <mat-form-field>
        <mat-label>Status</mat-label>
        <input matInput formControlName="status">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Condition</mat-label>
        <input matInput formControlName="condition">
      </mat-form-field>
      <div id="height">
        <mat-label>Height</mat-label>
        <mat-slider min="1" max="40" step="0.5" value="5">
          <input matInput matSliderThumb formControlName="height">
        </mat-slider>
        <label class="example-value-label"
          [innerHTML]="form.get('details').get('height').value + ' m'">
        </label>
      </div>
      <mat-form-field>
        <mat-label>Comments</mat-label>
        <input matInput formControlName="comments">
      </mat-form-field>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button (click)="form.reset();dialogRef.close()">Cancel</button>
  <button mat-raised-button color='primary' type="submit"
    (click)="dialogRef.close(form.value)"
    [disabled]="!form.valid">
    Ok
  </button>
</div>