.fields {
  display: flex;
  flex-direction: column;
}

.preview {
	text-align: center;
	img {
		max-height: 12em;
    max-width: 100%;
	}
}

#plantId, #trails {
  width: 15em;
}

.mat-mdc-dialog-actions {
  justify-content: center;
}

:host ::ng-deep .mat-vertical-content {
  padding: 3px;
}

:host ::ng-deep .mat-vertical-stepper-header {
  padding: 12px 12px;
}